/*common-css*/
.container { max-width: 1270px; padding: 0 15px; width: 100%; margin: 0 auto;}
body { font-family: FFDINforPuma,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;}
h1,h2,h3,h4,h5 { font-family: FFDINforPuma,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;}
.title-block { text-align: center;}
h2 { font-size: 32px;}
.btn { padding: 20px; text-align: center; background-color: #000; text-transform: uppercase; color: #fff; font-weight: 600;} 
.btn.white-btn { background-color: #fff; color: #000;}

/*select2-dropdown*/
.select2-container { width: 222px !important; margin-right: 20px;}
.select2-container--default .select2-selection--single { background-color: transparent; height: 52px;}
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 52px;}
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 52px; right: 10px;}
.select2-container b { display: none;}
.select2-container .select2-selection__arrow{ background-position: center;background-image: url('../images/down-arrow-white.svg'); background-size: 12px 20px; background-repeat: no-repeat;} 
.select2-container--default .select2-selection--single .select2-selection__rendered { color: #fff;}

/*header*/
.header { position: fixed;top: 0;width: 100%;left: 0;right: 0;z-index: 999;transition: all .5s;-webkit-transition: all .5s;}

/*header-top*/
.header .header-top { padding: 12px 0; background-color: #ae946d;}
.header .header-top p { color: #fff; font-weight: normal; text-align: center;}
.header .header-top p span { font-weight: 700;}

/*header-bottom*/
.header .header-bottom { background-color: #000; padding: 12px 0;}
.header .header-bottom .header-bottom-inner, .header .social-links-wrapper { display: flex; align-items: center; justify-content: space-between;}
.header .header-bottom .logo-wrapper {width: 60px; height: auto; margin-right: 30px;}
.social-links-wrapper .social-links { display: flex; align-items: center;}
.social-links-wrapper .social-links li{ margin: 0 20px 0 0 ;}
.social-links-wrapper .social-links a { padding: 10px 0; color: #fff; font-size: 16px; transition: 0.3s all; font-family: FFDINforPuma,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;}
.social-links-wrapper .social-links a:hover { opacity: 0.5;}
.header .header-bottom .header-bottom-inner .search-wrapper, .header .header-bottom .header-bottom-inner .search-wrapper ul { display: flex; align-items: center;}
.header .header-bottom .header-bottom-inner .search-wrapper ul { margin-left: 30px;}
.header .header-bottom .header-bottom-inner .search-wrapper ul li + li { margin-left: 20px;}
.header .header-bottom .header-bottom-inner .search-wrapper input { background-color: transparent; outline: 0; border: 1px solid #fff; border-radius: 4px; padding: 15px 15px 15px 40px; background-image: url('../images/search.svg'); background-repeat: no-repeat; background-position: 12px center; background-size: 16px; color: #fff;}

/*banner-section*/
.banner-section {padding: 0 0 4%;position: relative;min-height: 385px;}
/* .banner-section img{    position: absolute; left: 0; right: 0; top: 130px; bottom: 0; background-repeat: no-repeat; background-size: cover; background-position: center; z-index: -1;} */
.banner-section .container { position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);}
.banner-section .banner-content { max-width: 470px; width: 100%; margin-left: auto; text-align: right;}
.banner-content .btn-wrapper { margin-top: 20px;} 
.banner-content .btn + .btn { margin-left: 20px;}

/*explore-section*/
.explore-section { padding: 60px 0; overflow: hidden;}
.explore-section h2 { text-align: center; margin: 0 0 40px;}
.explore-section .explore-section-inner { display: flex; margin: 0 -10px;}
.explore-section .explore-section-inner .explore-item { padding: 0 10px;}
.explore-section .explore-section-inner .explore-content { display: flex; padding: 10px;}
.explore-content h3{ font-size: 16px; padding-right: 10px;}
.explore-section-inner .slick-next::before,.explore-section-inner .slick-prev::before  { content: none !important;}

/*puma-cards-section*/
.puma-cards-section .puma-cards-inner { display: flex; margin: 0 -10px;}
.puma-cards-inner .puma-card-item { flex: 0 0 33.33%; max-width: 33.33%; padding: 0 10px;}
.puma-cards-inner .card-content { padding: 15px; text-align: center;}
.puma-cards-inner .card-content h4{ font-size: 24px;}
.puma-cards-inner .card-content .btn { margin-top: 20px;}

/*image-content-block*/
.image-content-section { padding: 10px 0;}
.image-content-section .image-content-inner { display: flex; background-color: #f4ebdc;}
.image-content-inner .image-block img { width: 100%;}
.image-content-section .btn-wrapper { margin-top: 30px;}
.image-content-inner .image-block, .image-content-inner .content-block { flex: 0 0 50%; max-width: 50%;}
.image-content-inner .content-block p { font-size: 20px;}

/*image-content-block-black-bg*/
.image-content-section.black-bg .image-content-inner { background-color: #000;}
.image-content-section.black-bg h4 { color: #fff;}

/*image-content-block-blue-bg*/
.image-content-section.blue-bg .image-content-inner {background-color: #1ea2a3;}
.image-content-section.blue-bg .image-block { order: 2;}
.image-content-inner h4 { font-size: 56px; margin: 0 0 30px;}
.image-content-inner .content-block {align-self: center; text-align: center;}

/*image-conent-section-pink-bg*/
.image-content-section.pink-bg .image-content-inner { background-color: #e29da0;}
.image-content-section.pink-bg .btn { margin-top: 30px;}

/*puma-fam-section*/
.puma-fam-section h2, .puma-fam-section p { margin: 0 0 20px;}

/*puma-headline-section*/
.puma-headline { padding: 60px 0;}
.puma-headline .container { max-width: 1180px;}
.puma-headline h2 { text-transform: uppercase; }
.puma-headline p {max-width: 960px;}

/*footer*/
.footer { background-color: #000; }
.footer p, .footer span { color: #fff;}
.footer-top { padding: 40px 0; border-bottom: 1px solid#818181;}
.footer .footer-top-inner { display: flex; }
.footer .footer-top-inner p { position: relative;padding-bottom: 20px;}
.footer .footer-top-inner p::after {content: ''; background: #fff; width: 100%; height: 2px;position: absolute;left: 0; right: 0; bottom: 0;}
.footer .footer-top-inner .footer-links { flex: 0 0 33.33%; max-width: 33.33%; padding: 0 10px; }
.footer .footer-top-inner .footer-links ul { display: flex; flex-wrap: wrap; margin: 30px -8px -10px;}
.footer .footer-top-inner .footer-links ul li { flex: 0 0 50%; max-width: 50%; padding: 0 8px 10px;}
.footer .footer-top-inner .footer-links ul li a { color: #818181; transition: 0.3s all;}
.footer .footer-top-inner .footer-links ul li a:hover { color: #fff;}
.footer-bottom { padding: 40px 0;}
.footer-bottom .footer-bottom-inner, .footer-bottom .footer-inner-left { display: flex; align-items: center; justify-content: space-between;}
.footer-bottom .footer-bottom-inner span { color: #818181;}
.footer-bottom .footer-inner-left { flex: 0 0 70%; max-width: 70%; }
.footer-bottom .footer-inner-right { flex:  0 0 30%; max-width: 30%;}


@media screen and (max-width: 991px) {
    .puma-cards-section .puma-cards-inner { margin: 0 0 -10px; flex-wrap: wrap;}
    .puma-cards-inner .puma-card-item { flex: 0 0 100%; max-width: 100%; padding: 0 0 10px;}
    .image-content-inner { flex-wrap: wrap;}
    .image-content-section.blue-bg .image-block {order: 1;}
    .image-content-inner .content-block { order: 2;}
    .image-content-inner .image-block, .image-content-inner .content-block { flex: 0 0 100%; max-width: 100%;}
    .footer-top .footer-top-inner, .footer-bottom .footer-bottom-inner { flex-wrap: wrap; margin: 0 0 -20px;}
    .footer .footer-top .footer-links, .footer-bottom .footer-inner-left, .footer-bottom .footer-inner-right { flex: 0 0 100%; max-width: 100%; padding: 0 0 20px;}
}